.containerNav {
  background-color: #4876ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 20px;
}

.imgLogo {
  width: 12%;
  height: 12%;
  cursor: pointer;
}

.containerItem {
  margin: 0 10px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.inputSearch {
  flex: 1;
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 7px;
  height: 30px;
  color: black;
  padding-right: 38px;
  padding-left: 5px;
  outline: none;
  box-shadow: none;
  transition: border-color 0.3s, background-color 0.3s;
}

.inputSearch:focus {
  border-color: #ccc;
  outline: none;
  box-shadow: none;
}

.searchIcon {
  font-size: 18px;
  color: black;
  margin-left: -30px;
  margin-right: 10px;
}

.userSection {
  display: flex;
  align-items: center;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.defaultIcon {
  font-size: 40px;
  margin-right: 8px;
}

.userName {
  margin-right: 8px;
  color: white;
  font-weight: bold;
}

.logoutContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoutText {
  margin-left: 4px;
  color: white;
  font-weight: bold;
}

.logoutIcon {
  margin-right: 4px;
  color: red;
  font-size: 30px;
}
